window {
    margin: 200px;
    background-color: rgb(104, 104, 104);
    color: white;
}

grid {
    padding: 20px;
    margin: 10px;
}

button {
    background-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    padding: 8px;
}

button:active {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 8px;
}

button:hover {
    background-color: rgb(75, 75, 75);
}

textview {
    padding: 20px;
    margin: 10px;
}